<div *ngIf="product">
    <div>
        <form (ngSubmit)="onSubmit()" #updateForm="ngForm">
            <div>
                <label for="name">Name: </label>
                <input type="text" name="name" id="name" [(ngModel)]="product.name">
            </div>
            <div>
                <label for="price">Price: </label>
                <input type="text" name="price" id="price" [(ngModel)]="product.price">
            </div>
            <p>Please enter ingredients like: 'ingredient1,ingredient2,ingredent with space3</p>
            <div>
                <label for="ingredients">Ingredients: </label>
                <input type="text" name="ingredients" id="ingredients" [(ngModel)]="product.ingredients">
            </div>
            <div>
                <label for="calories">Calories: </label>
                <input type="text" name="calories" id="calories" [(ngModel)]="product.calories">
            </div>
            <div>
                <label for="quantity">Quantity: </label>
                <input type="text" name="quantity" id="quantity" [(ngModel)]="product.quantity">
            </div>
            <div>   
                <label for="url">URL: </label>
                <input type="text" name="url" id="url" [(ngModel)]="product.url">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
    <div>
        <img src="" alt="Product picture" class="img">
    </div> 
</div>

<div *ngIf="!product">
    <p>The product you requested does not exist.</p>
</div>
