<div *ngIf='historyProducts$ | async'>
    <span>
        <input type="date" name='historydate' #date>
        <button class="btn btn-secondary" (click)="date.value ? chooseStateByDate(date.value) : ''">Compare states</button>
        <span *ngIf="dateMsg" class='alert alert-primary date-msg'>{{dateMsg}}</span>
    </span>
    <h5>History state</h5>
    <table class="table table-dark table-bordered table-hover">
        <thead>
            <tr id="trth">
                <th>Name</th>
                <th>Price</th>
                <th>Ingredients</th>
                <th>Calories</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let product of historyProducts$ | async" 
                    [class]="diff.has(product.name) ? diffRowClass : ''">
                        <td [class]="getColumnDiffClass(product.name,1)">{{product.name}}</td>
                        <td [class]="getColumnDiffClass(product.name,2)">{{product.price}}</td>
                        <td [class]="getColumnDiffClass(product.name,3)">{{product.ingredients}}</td>
                        <td [class]="getColumnDiffClass(product.name,4)">{{product.calories}}</td>
                        <td [class]="getColumnDiffClass(product.name,5)">{{product.quantity}}</td>
                </tr>
        </tbody>
    </table>
</div>
<p *ngIf='!(historyProducts$ | async)' class="alert alert-info"> There isn't a saved state of the storage, in order to compare the current state with the past state, save the current state of the storage.</p>
