nav {
  display: flex;
  justify-content: space-between;
  background-color: #112d32;
  border-radius: 12px;
  padding: 1em;
  text-align: center;
  align-items: center;
  height: 10vh;
  margin-bottom: 2rem;
}

.nav-left {
  margin-left: 2rem;
  display: grid;
  width: 40%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 3rem;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(231, 230, 230);
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.7em 1.2em;
  border-radius: 4px;
}

a:hover {
  background-color: #254e58;
  box-shadow: 2px 2px;
  cursor: pointer;
}
